{% extends "learning_log/base.html" %}

{% load bootstrap3 %}

{% block header %}
    <h2>Entre com a sua conta</h2>
{% endblock header %}

{% block  content %}
    <form method="POST" action="{% url 'users:login' %}" class="form"> 
        {% csrf_token %}
        {% bootstrap_form form %}
        {% buttons %}
            <button type="submit" name="button" class="btn btn-primary">Fazer login</button>
        {% endbuttons %}
        <input type="hidden" name="next" value="{% url 'learning_log:index'%}"/>
    </form>
  
{% endblock content %}